body{
    background-color: rgb(234, 248, 252);
    font-family: Geneva, sans-serif;
    color: #7e7b7b;
    text-align: center;
}
h2{
    font-family: "Avenir Next", sans-serif;
    font-weight: bold;
    color: rgba(4, 28, 35, 0.59);
}
