body{
    background-color: #DAE5D0;
    font-family: Geneva, sans-serif;
    color: #7e7b7b;
    text-align: center;
}
h2{
    font-family: "Avenir Next", sans-serif;
    font-weight: bold;
    color: #496457;
}
